@charset "UTF-8";

/*포토리뷰 리스트 스타일 */
  /* 리뷰 헤더부분 패딩 조정 */
  .page-header{
    padding:20px 0;
  }
  /* 리뷰작성 이벤트 안내문구 */
  .rvNotice{
    line-height: 40px;
    font-size:15px;
  }
  /* 링크스타일 지정 */
  a{
    text-decoration: none;
    color:black;
  }
  a:hover{
    color:#ccc;
  }

  /* 향수이미지 크기 조정 */
  .reviewList {
    width:300px;
    height:300px;
    margin: 20px 0;
  }
  /* 포토리뷰 글제목 */
  #prvTitle{
    font-size: 15px;
    font-weight: bold;
  }

  /* 리뷰 작성자별명, 작성일, 조회수 */
  .rvFilter{
    margin-bottom:20px; 
    font-weight:bolder;
  }

  /* 검색필터 margin-top 조정 */
  .filterSelect{
    margin-top:50px;
  }
  
/*포토리뷰 상세보기 스타일*/
  /* 향수이미지 크기 조정 */
  #img{
    width:100px;
    height:100px;
    border:1px solid black;
    margin: 0 10px;
  }
  /* 향수명, 향수가격, 제품상세보기버튼 정렬 */
  .prodSelect{
    display: flex;
  }
  /* 향수명 폰트조정 */
  #prodName{
    font-size:15px;
    font-weight:bold;
  }
  /* 제품정보 아래 마진조정 */
  .prodInfo{
    margin-bottom:10px;
  }
  /* 리뷰내용 마진 */
  .prvContent{
    margin: 20px 0;
  }
  /* 리뷰이미지 크기조정 */
  .reviewView{
    width:400px;
    height:400px;
  }
  
  /*포토리뷰 글작성 스타일*/
  /* 리뷰 헤더부분 패딩 조정 */
  /* 향수이미지 크기 조정 */
  #prod-img{
    width:200px;
    height:200px;
    border:1px solid black;
    margin: 0 20px;
  }
  
  /* 상품정보 부분 마진 */
  .prodInfo-write{
    margin:30px 0;
  }
  /* 입력창 라벨 폰트조정 */
  .reviewInfo{
    font-size: 15px;
    font-weight: bold;
  }
  /* 파일입력창 마진조정 */
  input[type="file"]{
    margin-bottom: 20px;
  }
  /* 리뷰목록 돌아가기, 취소버튼 아래 마진조정 */
  .reset{
    margin-bottom:20px;
  }